---
import { Icon } from "astro-icon/components";
import portfolio from "../../data/portfolio.json";
import Grade from "../ui/Grade.astro";
import SubSection from "../section/SubSection.astro";

// import ku from "../../assets/ku.png";
// import mmcc from "../../assets/mmcc.png"
// import kzs from "../../assets/kzs.png"


---

<section id="education" class="scroll-mt-15 min-h-screen flex place-items-center">
	<div>
    <h2 class="text-2xl mb-4 font-semibold">Education</h2>
		{portfolio.education.map((item, index) => (
			<div class="flex 
			     group
			     flex-wrap
					 cursor-pointer
					 md:flex-nowrap 
					 md:px-4 
					 py-5 
					 hover:bg-accent/5
					 hover:shadow-sm
          hover:shadow-cyan-800
					 rounded-xs
					 transition
					 delay-100 
					 duration-200
					 ease-linear">
				<div class="flex w-90 flex-nowrap">
					<Icon name={`twemoji:${item.emoji}`} class="text-md mr-2 mt-1"/> 
				  <span class="text-md text-gray-400 text-shadow-emerald-50">{item.start} — {item.end}</span>
				</div>
				{/* <div class="w-90 hidden md:block">
					<img
						src={item.logo}
						alt="logo"
						class="mx-auto h-30 w-23 object-center rounded-lg shrink-0"
					/>
				</div> */}
				<div class="flex w-full flex-col">
          <span class="text-xl group-hover:text-cyan-400">{item.degree}</span>
          <span class="mb-4 group-hover:text-sky-300">{item.institute}</span>
					{item.research && (<SubSection key="Thesis" value={item.research} />)}
					{item.sec && (<SubSection key="Section" value={item.sec} />)}
					{item.courses && (<SubSection key="Courses(core)" value={item.courses} />)}
					<span class="flex">
            <SubSection key={item.grade_system} value={item.grade == "A" ?
            <Grade grade={item.grade} idx={index} />: item.grade}/>  
					</span>
				</div>
			</div>
		))}	
	</div>
</section>