---
import { Icon } from "astro-icon/components";
import portfolio from "../../data/portfolio.json";
import Grade from "../ui/Grade.astro";
import SubSection from "../section/SubSection.astro";

// import ku from "../../assets/ku.png";
// import mmcc from "../../assets/mmcc.png"
// import kzs from "../../assets/kzs.png"


---

<section id="education" class="scroll-mt-15 min-h-screen flex place-items-center">
	<div>
    <h2 class="text-2xl mb-4 font-semibold text-slate-200">Education</h2>
		{portfolio.education.map((item, index) => (
			<div class="flex
			     flex-wrap
					 md:flex-nowrap 
					 md:px-4 
					 py-5">
				<div class="flex w-90 flex-nowrap">
					<Icon name={`twemoji:${item.emoji}`} class="text-md mr-2 mt-1 h-4 w-4"/> 
				  <span class="text-md text-gray-400 text-shadow-emerald-50">{item.start} — {item.end}</span>
				</div>
				{/* <div class="w-90 hidden md:block">
					<img
						src={item.logo}
						alt="logo"
						class="mx-auto h-30 w-23 object-center rounded-lg shrink-0"
					/>
				</div> */}
				<div class="flex w-full flex-col">
          <span class="text-xl text-slate-200">{item.institute}</span>
          <span class="mb-4 text-sm text-slate-200">{item.degree}</span>
					{item.research && (<SubSection key="Thesis" value={item.research} />)}
					{item.sec && (<SubSection key="Section" value={item.sec} />)}
					{item.courses && (<SubSection key="Core courses" value={item.courses} />)}
          <SubSection key={item.grade_system} value={item.grade == "A" || item.grade == "B" ?
          <Grade grade={item.grade} idx={index} msg_before={item.msg_before} msg_after={item.msg_after} />: item.grade}/>  
				</div>
			</div>
		))}	
	</div>
</section>