---
import portfolio from "../../data/portfolio.json";
import Badge from "../ui/Badge.astro";
import Icolink from "../ui/Icolink.astro";
---

<section id="experience" class="scroll-mt-15 min-h-screen flex place-items-center">
	<div>
    <h2 class="text-2xl mb-4 font-semibold text-slate-200">Experience</h2>
		{portfolio.experience.map((item) => (
			<a href={item.url} target="blank">
        <div class="flex
			      group
            lg:hover:bg-slate-800/50
			      cursor-pointer
						flex-wrap 
						md:flex-nowrap 
						md:px-4 
						py-5
            hover:ring-1
            hover:ring-slate-500/30
            rounded-xs
						transition 
						delay-75
						duration-200 
						ease-linear 
						hover:bg-accent/5">
          <span class="text-md w-90 text-gray-400 text-shadow-emerald-50">{item.start} — {item.end}</span>
          <div class="w-full">
            <div class="md:flex group-hover:text-cyan-400 text-slate-200 inline-flex">
              <p class="flex transition-colors text-xl md:gap-2">{item.position}, {item.company} </p>
              <Icolink class="h-4 shrink-0 w-4 ml-1 mt-1 inline-block align-text-bottom group-hover:text-cyan-400 group-hover:-translate-y-1 group-hover:translate-x-1 transition-transform duration-300" />
            </div>
            <ol class="list-disc p-5 ">
              {item.works.map((witem) => (  
                <li> {witem} </li>
              ))}
            </ol>
            <div class="flex flex-wrap px-5 gap-2">
              {item.stack.map((sitem) => (
                <Badge title={sitem} />
              ))}
            </div>
          </div>
        </div>
      </a>
		))}
	</div>
</section>