---
import portfolio from "../../data/portfolio.json";
import Badge from "../ui/Badge.astro";
import Icolink from "../ui/Icolink.astro";
---

<section id="experience" class="min-h-screen flex place-items-center">
	<div>
		<h2 class="text-2xl md:hidden py-3">Experience</h2>
		{portfolio.experience.map((item) => (
			<div class="flex
			      group
			      cursor-pointer
						flex-wrap 
						md:flex-nowrap 
						px-4 
						py-5
						rounded-xs
						transition 
						delay-100 
						duration-200 
						scale-100
						hover:shadow-sm
						hover:shadow-cyan-500/30 
						hover:scale-101
						ease-linear 
						hover:bg-accent/10">
				<span class="text-md w-90 text-gray-400 text-shadow-emerald-50">{item.start} - {item.end}</span>
				<div class="w-full">
					<p class="flex transition-colors group-hover:text-cyan-400 text-xl md:gap-2">{item.position}, {item.company} 
            <Icolink href={item.url} />
          </p>
					<ul class="list-disc p-5 ">
						{item.works.map((witem) => (
							<li> {witem} </li>
						))}
					</ul>
          <div class="flex flex-wrap px-5 gap-2">
            {item.stack.map((sitem) => (
              <Badge title={sitem} />
            ))}
          </div>
				</div>
			</div>
		))}
	</div>
</section>